.my-content {
	position: absolute;
	left: 0;
	top: 44px;
	bottom: 50px;
	width: 100%;
	background: #f5f5f5;
}
.my-content .category-left,
.my-content .category-right {
	height: 100%;
	position: relative;
}

.my-content .category-left {
	width: 80px;
	float: left;
}

.my-content .category-right {
	margin-left: 90px;
}