/*=======重置css============*/
*,
*::before,
*::after
{
    /*兼容webkit内核浏览器就行*/
    -webkit-box-sizing: border-box;
    /*移动端常用布局非固定像素*/
    /*为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制，通过从已设定的宽度和高度分别减去边框和内边距才能得到内容的宽度和高度*/
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*清除点击高亮效果*/

            tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

body
{
    font-family: 'Microsoft YaHei',sans-serif;
    font-size: 14px;

    color: #333;
}

ul,
ol
{
    list-style: none;
}

a
{
    text-decoration: none;

    color: #333;
}

input,
textarea
{
    /*不允许改变尺寸*/
    resize: none;

    border: none;
    outline: none;
    /*元素的外观  none没有任何样式*/

    -webkit-appearance: none;
}

/*=======common css============*/
.f_left
{
    float: left;
}

.f_right
{
    float: right;
}

.clearFix::before,
.clearFix::after
{
    display: block;
    visibility: hidden;
    clear: both;

    width: 0;
    height: 0;

    content: '';
}

.m_l10
{
    margin-left: 10px;
}
.m_r10
{
    margin-right: 10px;
}
.m_t10
{
    margin-top: 10px;
}
.m_b10
{
    margin-bottom: 10px;
}

/*使用精灵图的公用样式*/
[class^='icon_'],
[class*=' icon_']
{
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
}
