html, body{
  .box{
    width: 220px;
    height: 120px;
    background-size: cover;
    background-image: url('../images/生小孩.jpg');
  }

  .box2{
    width: 220px;
    height: 120px;
    background-size: cover;
    background-image: url('../images2/生小孩.jpg');
  }
}